<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>

        <!-- ye jo hm alag se _header.ejs or footer.ejs banaye h use include krna v toa h uska procedure neeche -->
        <%- include('_header'); -%>
        <main id="layout-main">
            <%- body %>
        </main>
        <%- include('_footer'); -%>
        
        <%- script %>
    
    </body>
</html>