<!-- ye islia hata rhe h q ki hmne layout me daal dia h direfct layout udhr se hi render kr rha h -->
<!-- <html>
    <head>
        <title>
        <%= title %>
    </title>
    </head>
    <body> -->
        <!-- line 10 ka likhne ka tarika please google iske andar inclue se lkh de<%- -%> -->
        <!-- include('_header');  -->
    <link rel="stylesheet" href="/css/user_profile.css">
        <h1 id="s1">
            Sociobook / Profile Page 
        </h1>
        <p><%= profile_user.name %></p>
        <p><%= profile_user.email %></p>
        
        <!-- <%- include('_footer'); -%>
    </body>
</html> -->